.card-header {
  background-color: rgba(185, 184, 184, 0.8);
}
.container {
  margin: 100px auto;
  border-radius: 8px;
}
.card {
  background-repeat: no-repeat;
  background-color: rgba(185, 184, 184, 0.3);
  background-size: 100% 100%;
  border-radius: 8px;
  font-weight: 800;
}
.weatherForecast {
  text-align: center;
  margin: 0px 70px 20px 70px;
}
.link {
  font-size: small;
  text-align: center;
  margin-bottom: 100px;
}
#icon,
#date {
  font-size: 20px;
  font-weight: normal;
}
#tempToday {
  font-size: 37px;
}
#units {
  position: relative;
  top: -13px;
}
